@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}


.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}
form
 {
  width:1200px;

}

.tab-content-find
{
  position:absolute;
  top:180px;
  left:88px;

}

.tab-content
{
  position:absolute;
  top:180px;
  left:285px;

}
.table-content
{
  border-collapse: separate;
  border-spacing: 0 1em;
  cell-spacing:5px;
}

.spy
{
   position:absolute;
   top:180px;
   left:252px;
   color: white;
}

.magnifying
{
  position:absolute;
  top:18px;
  left:385px;
  color: white;
}

.congressman
{
  position:absolute;
  top:50px;
  left:385px;
}

.congressmanzip
{
  position:absolute;
  top:50px;
  left:10px;
}



/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}




/* footer */



footer {
  position :absolute;
  top:1040px;
  left:1050px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}